h1 {
    text-align: center;
    border: 1px solid red;
    background-color: red;
    width: 100%;
}
#describe {
    text-align: center;
    width :60%;
    position:relative;
    right : -299px;
}
h3 {
    position: relative;
    right:-299px;
}
#favo {
    position: relative;
    right:-559px;
}
#crustsection {
    position: relative;
    right: -209px;
}