body{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/0e/c5/de/dd/our-beautiful-pizza-oven.jpg");
    background-size: cover;
    color: aliceblue;
    font-size: 20px;
    float: right;

}
.xyz {
       background-size: cover;
       background-color: black;
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 100%;
min-height: 150vh;
z-index: -2;
opacity: 0.7;
}
h1 {
    text-align: center;
    border: 1px solid red;
    background-color: red;
 
    color: aliceblue;
}
#describe {
    text-align: center;
    width :60%;
    position:relative;
    right : -299px;
}
#choosesize {
    position: relative;
    right:-299px;
}
#favo {
    position: relative;
    right:-559px;
}
#crustsection {
    position: relative;
    right: -209px;
}
#nakinorder {
    position: relative;
    right: -209px;
}
#delivery {
    position: relative;
    right: -209px;
}
.ordersummary {
    display: none;
    position: relative;
    right: -209px;
    bottom : -50px;
}